<div class="container">
  <div class="row align-items-center justify-content-around">

{% for item in list %}
    <div class=" col-sm-2 offset-sm-1">
      <img class="card-img-top" src="{{ item.link }}" alt="Card image cap">
      <br />
      <br />
    </div>
{% endfor %}


  </div>
</div>
