---
layout: layouts/base.njk
title: Samuel JOSET - Back-End Software Engineer
---

{% include "partials/navbar.njk" %}

<div class="main-content main-home">
  <h1 class="logo">
    <span>사</span>
  </h1>
  <h1 class="title">404</h1>
  <h2>Page not found</h2>

  {% include "partials/social-media.njk" %}
</div>
