

<div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
  {% for testimonial in testimonials %}
    <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="{{ loop.index0 }}" class="{{ "active" if loop.index0==0 else "" }}" aria-current="true" aria-label="Slide {{ loop.index0 }}"></button>
  {% endfor %}
  </div>
  <div class="carousel-inner">
  {% for testimonial in testimonials %}
  <div class="carousel-item {{ "active" if loop.index0==0 else "" }}">
    <blockquote>
      <div class="row">
        <div class="col-sm-8 offset-sm-2">
          <p class="citation">{{ testimonial.quote }}
          </p>
          <p class="right">
            <small><b>{{ testimonial.people }}</b><br />{{ testimonial.job }}</small>
          </p>
        </div>
      </div>
    </blockquote>
  </div>

  {% endfor %}


  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
