<div class="col-sm-12">
<br/><br/>
<p class="social-media">
  <a href="mailto:{{ me.email }}" rel="noopener" class="fa fa-envelope" data-toggle="tooltip" title="mail" target="_blank"></a>
  <a href="{{ me.linkedin }}" rel="noopener" class="fa fa-linkedin" data-toggle="tooltip" title="Linkedin" target="_blank"></a>
  <a href="{{ me.github }}" rel="noopener" class="fa fa-github" data-toggle="tooltip" title="Github" target="_blank"></a>
  <a href="{{ me.resume }}" rel="noopener" class="fa fa-download" title="Resume" target="_blank"></a>
</p>
</div>
