---
layout: 'layouts/base.njk'
title: Contact | Samuel JOSET
current: contact
---

{% include "partials/navbar.njk" %}

<div class="main-content main-projects">
  <div class="container space-block">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <h2 class="title left">Contact</h2>

        <p>Got something you want to talk about? Just email me and I get back to you as soon as I can.</p>

        <p class="center">
          <a href="mailto:{{ me.email }}" title="mail" target="_blank" class="explicit-link center">
            <span style="font-size: 18px">{{ me.email }}</span>
          </a>
        </p>

        <p>The legal notices of the site are <a href="{{ me.legal }}" title="legal" target="_blank" class="explicit-link center">here</a> (fr).</p>

      </div>

   {% include "partials/social-media.njk" %}

   </div>
 </div>
</div>
</div>
