---
layout: 'layouts/base.njk'
title: Great books | Samuel JOSET
current: Great books
---

        {% include "partials/navbar.njk" %}

        <div class="main-content main-projects">
          <div class="container space-block">

            <div class="row">
              <div class="col-sm-12">
                <h2 class="title left">Recommanded books</h2>
                <p>I read quite a lot. Some books leave me with a deeper impression that others. I share with you a bit of my reading collection.</p>
              </div>

             {% set list=books %}
             {% include "partials/card-list.njk" %}

             {% include "partials/social-media.njk" %}

            </div>
          </div>

        </div>
