---
layout: 'layouts/base.njk'
title: Great books | Samuel JOSET
current: Great books
---

        {% include "partials/navbar.njk" %}

        <div class="main-content main-projects">
          <div class="container space-block">

            <div class="row">
              <div class="col-sm-12">
                <h2 class="title left">Recommanded books</h2>
                <p>I try to learn news things every days and books help a lot. I left here the books that made the deepest impression on me. Their topics are not the same at all. If you read some of them I'd love hearing about it.</p>
              </div>

             {% set list=books %}
             {% include "partials/card-list-mini.njk" %}

             {% include "partials/social-media.njk" %}

            </div>
          </div>

        </div>
