---
layout: 'layouts/base.njk'
title: Samuel JOSET - Back-End Software Engineer
---

{% include "partials/navbar.njk" %}

<div class="main-content main-home">
  <h1 class="logo">
    <span>사</span>
  </h1>
  <h1 class="title">
    <span>Samuel</span> JOSET
  </h1>
  <h2>Back-End Software Engineer</h2>

  {% include "partials/social-media.njk" %}
</div>
