---
layout: base.njk
title: Open Source | Samuel JOSET
current: open-source
---
        {% include "navbar.njk" %}

        <div class="main-content main-projects">
          <div class="container space-block">

            <div class="row">
              <div class="col-sm-12">
                <h2 class="title left">Latest OSS repos</h2>
                <br />
              </div>


              <div class="project col-sm-6">
                <h3>
                  <a class="explicit-link blue" href="https://github.com/saxjst/memoize-with">
                    memoize-with
                  </a>

                  <span class="badge badge-pill badge-info" style="font-size: 12px;">Module</span>
                </h3>
                Memoize a function using a custom cache and a key formatter
              </div>

              <div class="project col-sm-6">
                <h3>
                  <a class="explicit-link blue" href="https://github.com/saxjst/group-values-by-key">
                    group-values-by-key
                  </a>

                  <span class="badge badge-pill badge-info" style="font-size: 12px;">Module</span>
                </h3>
                Group values of two objects by their key
              </div>

              <div class="project col-sm-6">
                <h3>
                  <a class="explicit-link blue" href="https://github.com/saxjst/chain-fns">
                    chain-fns
                  </a>

                  <span class="badge badge-pill badge-info" style="font-size: 12px;">Module</span>
                </h3>
                Create a chain of responsability by chaining a list of handlers
              </div>

              <div class="project col-sm-6">
                <h3>
                  <a class="explicit-link blue" href="https://github.com/saxjst/deep-map-with-key">
                    deep-map-with-key
                  </a>

                  <span class="badge badge-pill badge-info" style="font-size: 12px;">Module</span>
                </h3>
                Creates a new functor with the results of calling a provided function on every element in the calling functor and its key
              </div>

              <div class="project col-sm-6">
                <h3>
                  <a class="explicit-link blue" href="https://github.com/saxjst/koa-handler">
                    koa-handler
                  </a>

                  <span class="badge badge-pill badge-info" style="font-size: 12px;">Module</span>
                  <span class="badge badge-pill badge-light" style="font-size: 12px;">Soon</span>
                </h3>
                Easily configure your koa server
              </div>

              <div class="project col-sm-6">
                <h3>
                  <a class="explicit-link blue" href="https://github.com/altertek/simplevideo">
                    simple-video
                  </a>

                  <span class="badge badge-pill badge-warning" style="font-size: 12px;">Plugin</span>
                  <span class="badge badge-pill badge-light" style="font-size: 12px;">Soon</span>
                </h3>
                A simple browser plugin to watch a streaming video without any
                other content
              </div>


              <div class="col-sm-12">
                <p class="center">
                  <a href="https://github.com/saxjst" class="explicit-link" rel="noopener" target="_blank">Check my other repositories
                  </a>
                </p>

              </div>

                  {% include "social-media.njk" %}

            </div>
          </div>

        </div>
