---
layout: 'layouts/base.njk'
title: Supported NGOs | Samuel JOSET
current: about-me
---

        {% include "partials/navbar.njk" %}

        <div class="main-content main-projects">
          <div class="container space-block">

            <div class="row">
              <div class="col-sm-12">
                <h2 class="title left">Supported Non-governmental organizations</h2>
                <p>I took the occasion of having my website to highlight some organizations that work for the common good.
                  I support them because each one of them fight for causes that mean something to me.
                </p>
              </div>

             {% set list=ngos %}
             {% include "partials/two-card-list-mini.njk" %}

             {% include "partials/social-media.njk" %}

            </div>
          </div>

        </div>
