

<div class="card-columns">

{% for work in list %}
<div class="card" style="background-color: #191a23; box-shadow: 0 0.5em 1em -0.125em rgba(220, 226, 230, .1), 0 0 0 1px rgba(220,226,230,.02);">
  <img class="card-img-top" src="{{ work.img }}" alt="Card image cap">
  <div class="card-body">
    <h3 class="card-title">{{ work.title }}
    {% for tag in work.tags %}
    <span class="badge badge-pill badge-info" style="font-size: 12px;">{{ tag }}</span>
    {% endfor %}
    </h3>
    <h6 class="card-subtitle mb-2 text-muted">{{ work.subtitle }}</h6>
    <p class="card-text">{{ work.content }}</p>
    <p class="center">
      <a href="{{ work.buttonLink }}" class="btn btn-primary">{{ work.buttonDesc }}</a>
    </p>
  </div>
</div>
{% endfor %}

</div>
