<nav class="navbar navbar-inverse navbar-expand-md sticky-top" style="background-color: #191a23;">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
      <img src="/assets/images/logos/logo-512.png" width="50" height="50" alt="" />
    </a>
  </div>


<button id="toggler" class="navbar-dark navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>


  <div class="collapse navbar-collapse navbar-right" id="navbarCollapse">
    <ul class="nav navbar-nav">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle {{ "active" if current=="work" else "" }}"  data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Work</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{{ "#" if current=="projets" else "/projets" }}">Projets</a>
          <a class="dropdown-item" href="{{ "#" if current=="open-source" else "/open-source" }}">Open source</a>
          <a class="dropdown-item" href="/docs">Best practices</a>
        </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle  {{ "active" if current=="about-me" else "" }}" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About me</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{{ "#" if current=="vision-and-values" else "/vision-and-values" }}">Vision x Values</a>
        <a class="dropdown-item" href="{{ "#" if current=="me" else "/me" }}">Me</a>
        <a class="dropdown-item" href="{{ "#" if current=="supported-ngos" else "/supported-ngos" }}">Supported NGOs</a>
        <a class="dropdown-item" href="{{ "#" if current=="recommanded-books" else "/recommanded-books" }}">Recommanded books</a>
      </div>
    </li>
      <li class="nav-item">
        <a class="nav-link {{ "active" if current=="contact" else "" }}" href="{{ "#" if current=="contact" else "/contact" }}">Contact</a>
      </li>
    </ul>
  </div>
</nav>
