
<div class="container">
  <div class="row align-items-center justify-content-center">
    {% for item in list %}
    <div class="card col-sm-4" style="min-height: {{ minHeight }}px; width: 18rem;background-color: #191a23; ">
      {% if item.img %}
      <img class="card-img-top" style="display: block;height:100px; width: 200px;margin-left: auto;margin-right: auto;" src="{{ item.img }}" alt="Card image cap">
      {% endif %}
      <div class="card-body" style="display: block;margin-left: auto;margin-right: auto;">
        <h6 class="card-title">
        {% for tag in item.tags %}
        <span class="badge badge-pill badge-info" style="font-size: 10px;">{{ tag }}</span>
        {% endfor %}
      </h6>
        <h3 class="card-title" >
          <a class="explicit-link blue" href="{{ work.buttonLink }}">
            {{ item.title | striptags(true) | truncate(50) }}
          </a>
        </h3>
        <h6 class="card-subtitle mb-2 text-muted">{{ item.subtitle }}</h6>
        <p class="card-text">{{ item.content }}</p>
      </div>
    </div>
    {% endfor %}
    </div>

  </div>
</div>
