
<div class="container">
  <div class="row align-items-center justify-content-center">
    {% for work in list %}
    <div class="card col-sm-4" style="min-height: 300px; width: 18rem;background-color: #191a23; ">
      <img class="card-img-top" style="display: block;height:100px; width: 200px;margin-left: auto;margin-right: auto;" src="{{ work.img }}" alt="Card image cap">
      <div class="card-body" style="display: block;margin-left: auto;margin-right: auto;">
        <h6 class="card-title">
        {% for tag in work.tags %}
        <span class="badge badge-pill badge-info" style="font-size: 10px;">{{ tag }}</span>
        {% endfor %}
      </h6>
        <h3 class="card-title" style="font-size:13px !important;">
          <a class="explicit-link blue" href="{{ work.buttonLink }}">
            {{ work.title | striptags(true) | truncate(50) }}
          </a>
        </h3>
        <h6 class="card-subtitle mb-2 text-muted">{{ work.subtitle }}</h6>
        <p class="card-text">{{ work.content }}</p>
      </div>
    </div>
    {% endfor %}
    </div>

  </div>
</div>
